{deps, [
{cuttlefish, {git, "https://github.com/emqx/cuttlefish.git",  {branch, "master"}}},
    {ekaf, {git, "https://github.com/helpshift/ekaf.git",  {branch, "master"}}},
    {emqx, {git, "https://github.com/emqx/emqx.git",  {branch, "master"}}}]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,warnings_as_errors,warn_export_all,warn_unused_import]}.

